.hobbies-list {
  margin: 0 auto;
  width: 50%;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #b8f2e6;
  color: black;
  padding: 5px;
  text-align: start;
  vertical-align: middle;
}
.icon {
  width: 20px;
  background-color: #ffffff;
  padding: 10px;
}
li {
  list-style-type: none;
  margin: 15px;
}
ul {
  margin-left: -40px;
}
.hobby {
  font-weight: 500;
  padding-top: 0px;
  vertical-align: super;
  font-size: 15px;
}
