.social-media-icon {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-color: #a7e8bd;
  display: inline-block;
  padding: 5px;
  margin: 10px 20px;
  font-size: 43px;
  vertical-align: middle;
  color: white;
}
.social-media {
  color: white;
}
.social-media-icon a:focus::after {
  -webkit-transition: -webkit-transform 0.4s ease-out;
  transition: -webkit-transform 0.4s ease-out;
  transition: transform 0.4s ease-out;
  transition: transform 0.4s ease-out, -webkit-transform 0.4s ease-out;
  -webkit-transform: rotateZ(360deg);
  transform: rotateZ(360deg);
}
.social-media-icon a:hover {
  color: yellow;
}
